
/* Remove it From here after Completing your job bro   -----------------------   */
@media screen and (max-width: 600px) {
    .title{
        font-size: 26px;
    }
    .container{
        margin: 0 20px;
        padding: 60px 0;
    }
    footer .container{
        padding: 0;
    }
    .navbar{
        flex-direction: column;
    }
    .banner .container{
        margin: 0 30px;
    }
    .banner .content{
        height: 600px;
    }
    .banner h2{
        font-size: 32px;
        margin-top: 40px;
    }
    .banner p{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .banner .form{
        flex-direction: column;
        margin-bottom: 100px !important;
        width: 80%;
        margin:auto;
    }
    .banner input, select{
        width: 100%;
    }
    



/* ----------======  Popular Tours Section Design  ======---------- */

.popular .container{
    padding: 60px 0;
    gap: 50px;
    flex-direction: column;
}
.popular img{
    width: 100%;
}



.destination .grid-container {
    grid-template-areas: "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g";
grid-template-columns: 1fr;
}







/* ----------======  Deals Section Design  ======---------- */
.deals {
    padding: 20px 0;
    border-radius: 16px;
}
.deals .item{
    height: 850px;
    display: flex;
    align-items: flex-end;
    border-radius: 46px;
    margin-top: 50px;
    padding: 50px 20px;
}
.deals .item .box{
    padding: 50px 40px;
    width: 100%;
    /* margin-top: auto; */

}
.deals .box .icons div{
   /* margin-right: 25px; */
}
.deals .box .icons i{
    /* font-size: 18px; */
    /* color: var(--color); */
    /* margin-right: 10px; */
}
.deals .box .icons{
    flex-wrap: wrap;
}
.deals .box h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}
.deals .box h6{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color);
}




.simple .container{
    padding: 60px 0;
    gap: 50px;
    flex-direction: column;
}
.simple img{
    width: 100%;
}

/* ----------======  Newslatter Section Design  ======---------- */

.newsletter .container{
    flex-direction: column;
}
.newsletter .form{
    width: 100%;
}














}
