
/* Remove it From here after Completing your job bro   -----------------------   */
@media screen and (max-width: 600px) {
    .title{
        font-size: 26px;
    }
    .navbar{
        flex-direction: column;
    }
    .banner .container{
        margin: 0 30px;
    }
    .banner .content{
        height: 600px;
    }
    .banner h2{
        font-size: 32px;
        margin-top: 40px;
    }
    .banner p{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .banner .form{
        flex-direction: column;
        margin-bottom: 100px !important;
        width: 80%;
        margin:auto;
    }
    .banner input, select{
        width: 100%;
    }
}
